@using IM999MaxBonum;
@using IM999MaxBonum.Models;
@using IM999MaxBonum.Classes;

@{
    var lang = ViewBag.CurrentLang;
    bool isRtl = lang.Direction.Trim().ToLower() == "ltr" ? false : true;
    var user = ViewBag.CurrentUser;

    //ViewData["HeaderAddINCode"] = "";
    //ViewData["FooterAddINCode"] = "";

    ViewData["HeaderAddINCode"] += "<link rel='stylesheet' href='/css/admin/menu.css' type='text/css'>";
    ViewData["HeaderAddINCode"] += "<link rel='stylesheet' href='/css/admin/style.css' type='text/css'>";
    if(isRtl){
        ViewData["HeaderAddINCode"] += "<link rel='stylesheet' href='/css/admin/style-rtl.css' type='text/css'>";
    }
    ViewData["FooterAddINCode"] += "<script src='/js/admin/menu.js' type='text/javascript'></script>";
    ViewData["FooterAddINCode"] += "<script src='/js/admin/script.js' type='text/javascript'></script>";
    Layout = "~/Views/Shared/_LayoutOnlyHtmlWithSimplePlugin.cshtml";

    ViewData["Site_Setting"] = Resource.GetData(lang.LangMark, "Site_Setting");
    ViewData["Profile"] = Resource.GetData(lang.LangMark, "Profile");
    ViewData["Logout"] = Resource.GetData(lang.LangMark, "Logout");

    ViewData["Site_Page_Group"] = Resource.GetData(lang.LangMark, "Site_Page_Group");
    ViewData["Site_Page"] = Resource.GetData(lang.LangMark, "Site_Page");
    ViewData["Menus_Group"] = Resource.GetData(lang.LangMark, "Menus_Group");
    ViewData["Menus"] = Resource.GetData(lang.LangMark, "Menus");
}

<section id="admin-header">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="site-icon">                    
                </div>

                <div class="site-mainmenu">
                    <div class="main-menu">
                        <div id="menuToggle"><i class="fa fa-bars"></i></div>

                        <nav class="mainmenu">
                            <ul>
                                <li id="close-menu"><a class="fa fa-remove"></a></li>
                                <li id="profile-user">
                                    <a>
                                        <img src='~/UserFiles/Users/@(user.UserId.ToString()+".jpg")'/>
                                    </a>
                                    <ul>
                                        <li><a class="fa fa-cog">@ViewData["Site_Setting"]</a></li>
                                        <li><a class="fa fa-user" href="/@lang.LangMark/Users/Profile">@ViewData["Profile"]</a></li>
                                        <li><a class="fa fa-sign-out" href="/@lang.LangMark/Users/Logout">@ViewData["Logout"]</a></li>
                                    </ul>
                                </li>
                                <li><a>@ViewData["Site_Page"]</a>
                                    <ul>
                                        <li><a class="fa fa-files-o" href="/Admin/@lang.LangMark/PageGroups/Index">@ViewData["Site_Page_Group"]</a></li>
                                        <li><a class="fa fa-file-text-o" href="/Admin/@lang.LangMark/Pages/Index">@ViewData["Site_Page"]</a></li>
                                    </ul>
                                </li>
                                <li><a>@ViewData["Menus"]</a>
                                    <ul>
                                        <!--
                                        <li><a class="fa fa-files-o" href="/Admin/@lang.LangMark/MenuGroups/Index">@ViewData["Menus_Group"]</a></li>
                                        -->
                                        <li><a class="fa fa-file-text-o" href="/Admin/@lang.LangMark/Menus/Index">@ViewData["Menus"]</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@RenderBody()
